@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>Linea de Transporte Publico  N° 14</h1>
    <p class="lead">Transporte Publico - Santa Cruz de la Sierra.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Ver Mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rutas</h2>
        <p>
            Un Mapa donde se puede visualizar todo el trayecto de nuestro transporte publico.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Micros</h2>
        <p>Los transportes internos altamente capacitados para su comodidad.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Paradas</h2>
        <p>Todos los puntos de interes que tiene nuestra ruta.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver mas &raquo;</a></p>
    </div>
</div>